<!DOCTYPE html>
<html>
  <head>
  	<% include ./partials/head %>
  </head>
  <body>
  	<header>
  		<% include ./partials/header %>
  	</header>
    <div class= "nav wrapper container">
	    <h1>Who Are Your <%= title %>?</h1>
	    <img src="http://www.clker.com/cliparts/W/f/7/2/E/8/robot-cartoon-hi.png" width="252" height="297" >
	    <h3>Keep track of all your robots with the new and improved Robot Tracker 3000.</h3>
	    <a href="/robots" class="homebutton">Add Your Robots Now</a>
    </div>
  </body>
</html>
